<a href="https://colab.research.google.com/github/a-pramanik37/AI_ML_DIU_CSE_Spring2021/blob/main/18_2_21_AI_Lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Basic Python**

#**Data types**

In [4]:
n=453
print(n)

453

In [2]:
type(n)

int

In [5]:
f = 4.345
type(f)

float

#**Advanced data types**

In [25]:
#list
myList = [2, 4, 10, 15, 20]
print(myList)

[2, 4, 10, 15, 20]

In [24]:
#dictionary
myDictionary = {3.42 : 500, 5.342 : 700}
print(myDictionary)
print(myDictionary[3.42])

{3.42: 500, 5.342: 700}
500

In [19]:
name = "rahim"
amount= 2000

print("My name is %s and I have %s tk." %(name, amount))
print("My name is", name, "I have", amount)

My name is rahim and I have 2000 tk.
My name is rahim I have 2000

#**Conditional statements**

In [23]:
n=15

if n==10:
  print("I have got 10")
elif n>10 and n<100:
  print("I have got more than 10 but less than 100")
else:
  print("I have got less than 10")

I have got more than 10 but less than 100

#**Loops**

In [26]:
for i in myList:
  print(i)

2
4
10
15
20

In [29]:
i=1
while i<=10:
  if i%2==0:
    print(i)
  i+=1

2
4
6
8
10

#**Functions**

In [33]:
def method1():
  print("This line is inside a function")

method1()

This line is inside a function

In [37]:
def sum(x, y):
  z=x+y
  return z

x = int(input("Enter a value:"))
y = int(input("Enter another value:"))

sum(x, y)

Enter a value:10
Enter another value:15

25

#**Built in methods in python**

In [41]:
myList = [2, 4, 6, 8, 15]

print(myList[3])

8

#**A complex statement**

In [43]:
def print_square_value(numbers):
  for number in numbers:
    if number%2==1:
      squared = number*number
      print(squared)

values = [1, 2, 3, 4, 5, 6]
print_square_value(values)

1
9
25