<a href="https://colab.research.google.com/github/a-pramanik37/AI_ML_DIU_CSE_Spring2021/blob/main/pythonPractice_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Variables in python**

In [8]:
n=543

In [9]:
type(n)

int

In [24]:
#list
listPython = [4, 5, 6, 8, 10, "rahim"]
print(listPython)

[4, 5, 6, 8, 10, 'rahim']

In [14]:
#dictionary
d = {"rahim" : 500, "karim":200}
print(d)

{'rahim': 500, 'karim': 200}

In [15]:
name="rahim"
tk=1000
print("%s has %s tk with him/her." %(name, tk))

rahim has 1000 tk with him/her.

In [22]:
n=40;

if n==10:
  print("We got 10")
elif n>10 and n<50:
  print("We got more than 10")
else:
  print("We have less than 10")

We got more than 10

In [25]:
for ele in listPython:
  print(ele)

4
5
6
8
10
rahim

In [27]:
#printing a sequence of variables
counter=0
while counter<=10:
  print(counter)
  counter+=1

0
1
2
3
4
5
6
7
8
9
10

In [29]:
def myMethod():
  print("this is done inside a function")
  print("hello bangladesh")

this is done inside a function
hello bangladesh

In [30]:
myMethod()

this is done inside a function
hello bangladesh

In [31]:
def sum(x, y):
  z=x+y
  return z

In [33]:
x=10
y=17
sum(x, y)

27

In [36]:
numbers = [3, 6, 8, 10, 15]
numbers.remove(6)

for value in numbers:
  print(value)

3
8
10
15

In [40]:
def print_square_value(numbers):
  for number in numbers:
    if number!=3:
      squared = number*number
      print(squared)

values = [1, 2, 3, 4, 5, 6]

print_square_value(values)

1
4
16
25
36