<a href="https://colab.research.google.com/github/a-pramanik37/AI_ML_DIU_CSE_Spring2021/blob/main/pythonPractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Python Variables**

In [6]:
n=50
f=41.43

In [7]:
str="hello"

In [10]:
type(n)

int

#**Python collection types**

In [13]:
#list
myList = [2, 4, 10, 50]
print(myList)

[2, 4, 10, 50]

In [18]:
#dictionary
myDictinary = {"Rahim" : 200, "hasan" : 500}
print(myDictinary["hasan"])

500

In [19]:
name = "hasan"
tk = 1000
print("My name is %s and I have %s tk" %(name, tk))

My name is hasan and I have 1000 tk

#**Conditional Statement**

In [22]:
x = 20
if x==10:
  print("We got 10")
elif x>10 and x<50:
  print("We got more than 10 but less than 50")
else:
  print("We got less than 10")

We got more than 10 but less than 50

#**Loops**

In [23]:
for i in myList:
  print(i)

2
4
10
50

In [25]:
i=1
while i<=10:
  print(i)
  i+=1

1
2
3
4
5
6
7
8
9
10

In [29]:
def method():
  print("this is a function")


method()

this is a function

In [30]:
#printing in another format

country = "bangladesh"
area = 147570
print("I live in", country, "its area is", area)

I live in bangladesh its area is 147570

In [33]:
myList = [2, 4, 10, 15, 20]
myList.remove(10)
print(myList)

[2, 4, 15, 20]

In [35]:
def print_square_value(numbers):
  for number in numbers:
    if number%2==0:
      squared = number*number
      print(squared)

myNumbers = [1, 2, 3, 4]
print_square_value(myNumbers)

4
16